USE [master]
GO
/****** Object:  Database [restaurantdb]    Script Date: 30.3.2017 12:30:42 ******/
CREATE DATABASE [restaurantdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'restaurantdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.YIGIT\MSSQL\DATA\restaurantdb.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'restaurantdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.YIGIT\MSSQL\DATA\restaurantdb_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [restaurantdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [restaurantdb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 30.3.2017 12:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 30.3.2017 12:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[createdAt] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Checkouts]    Script Date: 30.3.2017 12:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Checkouts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[quantity] [int] NOT NULL,
	[orderedAt] [datetime] NOT NULL,
	[product_id] [int] NULL,
	[table_id] [int] NULL,
 CONSTRAINT [PK_dbo.Checkouts] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Departments]    Script Date: 30.3.2017 12:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Departments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 30.3.2017 12:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[price] [real] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[category_id] [int] NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Registers]    Script Date: 30.3.2017 12:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[registeredAt] [datetime] NOT NULL,
	[dailySumCash] [real] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.Registers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StaffRecoverTokens]    Script Date: 30.3.2017 12:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffRecoverTokens](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](max) NULL,
	[token] [nvarchar](10) NULL,
	[requestedAt] [datetime] NOT NULL DEFAULT ('1900-01-01T00:00:00.000'),
 CONSTRAINT [PK_dbo.StaffRecoverTokens] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Staffs]    Script Date: 30.3.2017 12:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staffs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[lastName] [nvarchar](max) NULL,
	[phoneNumber] [nvarchar](max) NULL,
	[email] [nvarchar](max) NULL,
	[adress] [nvarchar](max) NULL,
	[password] [nvarchar](max) NULL,
	[beginingDate] [datetime] NOT NULL,
	[endingDate] [datetime] NULL,
	[department_id] [int] NULL,
	[modifiedAt] [datetime] NULL,
 CONSTRAINT [PK_dbo.Staffs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tables]    Script Date: 30.3.2017 12:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tables](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tableStatus_id] [int] NULL,
	[name] [nvarchar](max) NULL,
	[labelPriceTag] [nvarchar](max) NULL,
	[publicName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Tables] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TableStatus]    Script Date: 30.3.2017 12:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableStatus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.TableStatus] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([id], [name], [createdAt]) VALUES (2, N'Çorba', CAST(N'2017-03-07 18:57:29.153' AS DateTime))
INSERT [dbo].[Categories] ([id], [name], [createdAt]) VALUES (4, N'Pide', CAST(N'2017-02-12 15:47:50.000' AS DateTime))
INSERT [dbo].[Categories] ([id], [name], [createdAt]) VALUES (5, N'Kebap ', CAST(N'2017-02-12 15:51:20.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Checkouts] ON 

INSERT [dbo].[Checkouts] ([id], [quantity], [orderedAt], [product_id], [table_id]) VALUES (400, 1, CAST(N'2017-03-29 22:39:21.457' AS DateTime), 79, 8)
INSERT [dbo].[Checkouts] ([id], [quantity], [orderedAt], [product_id], [table_id]) VALUES (401, 2, CAST(N'2017-03-29 22:39:37.660' AS DateTime), 7, 8)
INSERT [dbo].[Checkouts] ([id], [quantity], [orderedAt], [product_id], [table_id]) VALUES (402, 1, CAST(N'2017-03-29 22:39:44.163' AS DateTime), 26, 8)
SET IDENTITY_INSERT [dbo].[Checkouts] OFF
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([id], [name]) VALUES (1, N'Mutfak')
INSERT [dbo].[Departments] ([id], [name]) VALUES (2, N'Salon')
INSERT [dbo].[Departments] ([id], [name]) VALUES (3, N'Halkla İlişkiler')
SET IDENTITY_INSERT [dbo].[Departments] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([id], [name], [price], [createdAt], [category_id]) VALUES (2, N'Mercimek Çorbası', 12, CAST(N'2017-02-12 00:00:00.000' AS DateTime), 2)
INSERT [dbo].[Products] ([id], [name], [price], [createdAt], [category_id]) VALUES (3, N'İşkembe Çorbası', 12, CAST(N'2017-02-12 00:00:00.000' AS DateTime), 2)
INSERT [dbo].[Products] ([id], [name], [price], [createdAt], [category_id]) VALUES (4, N'Domates Çorbası', 12, CAST(N'2017-02-12 00:00:00.000' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[Registers] ON 

INSERT [dbo].[Registers] ([id], [registeredAt], [dailySumCash]) VALUES (2, CAST(N'2017-03-19 00:46:28.480' AS DateTime), 2176.73)
INSERT [dbo].[Registers] ([id], [registeredAt], [dailySumCash]) VALUES (16, CAST(N'2017-03-19 15:07:51.397' AS DateTime), 488.73)
INSERT [dbo].[Registers] ([id], [registeredAt], [dailySumCash]) VALUES (28, CAST(N'2017-03-19 21:35:06.920' AS DateTime), 201.73)
SET IDENTITY_INSERT [dbo].[Registers] OFF
SET IDENTITY_INSERT [dbo].[StaffRecoverTokens] ON 

INSERT [dbo].[StaffRecoverTokens] ([id], [email], [token], [requestedAt]) VALUES (8, N'yigitat1992@gmail.com', N'46968AD646', CAST(N'2017-03-29 20:14:00.423' AS DateTime))
INSERT [dbo].[StaffRecoverTokens] ([id], [email], [token], [requestedAt]) VALUES (9, N'yigitat1992@gmail.com', N'BEEB9073F9', CAST(N'2017-03-29 20:14:57.963' AS DateTime))
INSERT [dbo].[StaffRecoverTokens] ([id], [email], [token], [requestedAt]) VALUES (10, N'yigitat1992@gmail.com', N'EB9465F0B6', CAST(N'2017-03-29 20:23:48.953' AS DateTime))
SET IDENTITY_INSERT [dbo].[StaffRecoverTokens] OFF
SET IDENTITY_INSERT [dbo].[Staffs] ON 

INSERT [dbo].[Staffs] ([id], [name], [lastName], [phoneNumber], [email], [adress], [password], [beginingDate], [endingDate], [department_id], [modifiedAt]) VALUES (5, N'root', N'admin', N'0123 456 77 89', N'admin@admin.com', N'xxx', N'E3B4B6A581F6F0081BBE7CB45DFDFF0D64C2B269B5525B76F8DBCB68925D120BFB934A518665E5B4515940E3881D650A8D325CAC2CE8798979E6D3A577C0302D', CAST(N'2017-03-18 00:00:00.000' AS DateTime), NULL, 4, CAST(N'2017-03-18 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Staffs] OFF
SET IDENTITY_INSERT [dbo].[Tables] ON 

INSERT [dbo].[Tables] ([id], [tableStatus_id], [name], [labelPriceTag], [publicName]) VALUES (1, 1, N'tableBtn1', N'lblTable1', N'Masa 1')
INSERT [dbo].[Tables] ([id], [tableStatus_id], [name], [labelPriceTag], [publicName]) VALUES (2, 1, N'tableBtn2', N'lblTable2', N'Masa 2')
INSERT [dbo].[Tables] ([id], [tableStatus_id], [name], [labelPriceTag], [publicName]) VALUES (3, 1, N'tableBtn3', N'lblTable3', N'Masa 3')
SET IDENTITY_INSERT [dbo].[Tables] OFF
SET IDENTITY_INSERT [dbo].[TableStatus] ON 

INSERT [dbo].[TableStatus] ([id], [name]) VALUES (1, N'Empty')
INSERT [dbo].[TableStatus] ([id], [name]) VALUES (2, N'Full')
SET IDENTITY_INSERT [dbo].[TableStatus] OFF
/****** Object:  Index [IX_product_id]    Script Date: 30.3.2017 12:30:42 ******/
CREATE NONCLUSTERED INDEX [IX_product_id] ON [dbo].[Checkouts]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_table_id]    Script Date: 30.3.2017 12:30:42 ******/
CREATE NONCLUSTERED INDEX [IX_table_id] ON [dbo].[Checkouts]
(
	[table_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_category_id]    Script Date: 30.3.2017 12:30:42 ******/
CREATE NONCLUSTERED INDEX [IX_category_id] ON [dbo].[Products]
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_department_id]    Script Date: 30.3.2017 12:30:42 ******/
CREATE NONCLUSTERED INDEX [IX_department_id] ON [dbo].[Staffs]
(
	[department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_tableStatus_id]    Script Date: 30.3.2017 12:30:42 ******/
CREATE NONCLUSTERED INDEX [IX_tableStatus_id] ON [dbo].[Tables]
(
	[tableStatus_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Checkouts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Checkouts_dbo.Products_product_id] FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([id])
GO
ALTER TABLE [dbo].[Checkouts] CHECK CONSTRAINT [FK_dbo.Checkouts_dbo.Products_product_id]
GO
ALTER TABLE [dbo].[Checkouts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Checkouts_dbo.Tables_table_id] FOREIGN KEY([table_id])
REFERENCES [dbo].[Tables] ([id])
GO
ALTER TABLE [dbo].[Checkouts] CHECK CONSTRAINT [FK_dbo.Checkouts_dbo.Tables_table_id]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_category_id] FOREIGN KEY([category_id])
REFERENCES [dbo].[Categories] ([id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_category_id]
GO
ALTER TABLE [dbo].[Staffs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Staffs_dbo.Departments_department_id] FOREIGN KEY([department_id])
REFERENCES [dbo].[Departments] ([id])
GO
ALTER TABLE [dbo].[Staffs] CHECK CONSTRAINT [FK_dbo.Staffs_dbo.Departments_department_id]
GO
ALTER TABLE [dbo].[Tables]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tables_dbo.TableStatus_tableStatus_id] FOREIGN KEY([tableStatus_id])
REFERENCES [dbo].[TableStatus] ([id])
GO
ALTER TABLE [dbo].[Tables] CHECK CONSTRAINT [FK_dbo.Tables_dbo.TableStatus_tableStatus_id]
GO
USE [master]
GO
